.image-wrapper {
    position: relative;
}

.main-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 16px;
}

.custom-card {
    position: absolute;
    bottom: -40px;       
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    border-radius: 16px;
    width: 80%;
}
