.image-wrapper {
    position: relative;
}

.main-img {
    width: 100%;
    height: 420px;
    object-fit: cover;
    border-radius: 16px;
}

@media (min-width: 768px) {
    .custom-card {
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        background: #fff;
        border-radius: 16px;
    }
}


@media (max-width: 767px) {
    .custom-card {
        position: static;
        transform: none;
        width: 100%;
        margin-bottom: 20px;
    }
}
